<div class="sub-footer-strip" style="display:none;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer" style="display:none;">
          <ul>
           
            <li><strong>Email: </strong><a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}</a></li>
          </ul>
          <ul> 
              <li><strong>Phone: </strong>{{ site.data.contact.phone }}</li>          
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>